.button-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1000;

    @include mq (tablet) {
        display: none;
    }

&:hover,
&:focus {
    fill: var(--accent-text-color);
}

&--close {
    display: none;
}

&.is-open &--close {
    display: block;
}

&.is-open &--menu {
    display: none;
}
}

/*Стилизация меню*/
.menu__nav-link {
    @include fonts(500, 40px, 1.17, 0.02em);
    color: var(--primary-text-color);
    &:hover {
        color: var(--accent-text-color);
    }
}
.menu__nav-item,
.menu__connection-item:not(:last-child) {
    margin-bottom: 32px;
}

.menu__nav {
    margin-bottom: 306px;
}

.menu__connection {
    margin-bottom: 64px;
}
.menu__social {
    display: flex;
}
.menu__connection-link {
    @include fonts(500, 24px, 1.17, 0.02em);
    color: var(--title-text-color);        
}
.menu__connection-link--accent {
    @include fonts(500, 34px, 1.18, 0.02em);
    color: var(--accent-text-color);
    }

.menu__social--title {
    @include fonts(500, 18px, 1.22, 0.02em);
        color: var(--accent-text-color);
}
.menu__social-item {
    position: relative;
}
.menu__social-item:not(:last-child) {
    margin-right: 20px;
}
.menu__social--border {
    &::after {
            display: inline-block;
            position: absolute;
            content: "";
            width: 22px;
            height: 0px;
            right: -20px;
            bottom: 10px;
            
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }
}