.button-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1000;

    @include mq (tablet) {
        display: none;
    }

&:hover,
&:focus {
    fill: var(--accent-text-color);
}

&--close {
    display: none;
}

&.is-open &--close {
    display: block;
}

&.is-open &--menu {
    display: none;
}
}
